# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*~
\#*
.#*
*.swp
.DStore/
thumbs.db
.idea/*
venv/*
Database/sqlite/.idea/*
Database/sqlite/venv/*
*.sqlite
*.db
Notifiers/MQTT/Secrets.py
*.svg
*.png
